body {
  background: white;
}

h1 {
  color: black;
  padding: 4%;
}

#quote-area {
  border: 1px solid black;
}

footer {
  text-align: right;
  padding-bottom: 4%;
}

#quote-text {
  /* padding: 2em; */
  /* height: 10rem; */
  /* border: solid; */
  /* background: green; */
}

i {
  vertical-align: middle;
}

button {
  height: 5rem;
  /* width: 20rem; */
}
